@import "vendor/vendor";
@import "base/base";
@import "utils/utils";
@import "componets/componets";
@import url(http://fonts.googleapis.com/css?family=Signika:600);

body {
  background: url('img/bg.png');
}

* {
  font-family: 'Signika', sans-serif !important;
}

.alert-box p {
  font-size: 1.5em;
}

.meter {
  transition: 0.7s all;
}

button, a {
  outline: none !important;
}

.toolbar {
  text-align: right;
  background: #40C9FA;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  padding: 5px;
  overflow: hidden;
  a {
    display: inline-block;
    float: right;
    -webkit-app-region: no-drag;
    color: #fff;
    font-size: 1.3em;
    margin-left: 3px;
    background: #424242;
    padding: 2px;
    text-align: center;
    border: 1px solid #fff;
    width: 27px;
    border-radius: 50%;
    transition: 0.7s all;
    margin-top: 5px;
    &:hover {
      background: rgb(64, 123, 144);
      transform: rotate(30deg);
    }
  }
  p.logo {
    float: left;
    span {
      font-family: 'Chewy', cursive !important;
      letter-spacing: 5px;
    }
    img {
      width: 50px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/**    App   **/
@import "./../home/sass/home";
@import "./../registerPlayers/sass/registerPlayers";
@import "./../NamesTasks/sass/namesTasks";
@import "./../GameOn/sass/gameOn";
@import "./../winner/sass/winner";